<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos para Firebase, Firestore, Storage y autenticación -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:theme="@style/Theme.Login_Guevara"
        android:label="Sentix"
        android:supportsRtl="true">

        <!-- Splash: primera pantalla -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Login -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Menú principal / Dashboard -->
        <activity
            android:name=".SuccessActivity"
            android:exported="false" />

        <!-- Perfil de usuario -->
        <activity
            android:name=".CuentaActivity"
            android:exported="false" />

        <!-- Editar perfil -->
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />

        <!-- Recorte de imagen para foto de perfil -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sentix.UCrop" />

    </application>

</manifest>